@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  position: relative;
  z-index: 2100;
}

.fui-spinner {
  animation: none !important;
}

:host {
  font-family: InterVar, InterVariable, Inter, ui-sans-serif, system-ui, sans-serif;
}
